/* ----------------- Changeable styles ---------------- */

/* Background and Links */
.wrap {
    background-color: #e0e0e0;
}

a         { color: #5e788f; text-decoration:underline }
a:visited { color: #5e788f; text-decoration:underline }
a:active  { color: #5e788f; text-decoration:underline }
a:hover   { color: #5e788f; text-decoration:none }
/* End of Links */

/* Graphical elements */
hr { height: 1px; color: #000000; }
/* End of Graphical elements */

/* Form Controls */
input, select, textarea  {font-size: 10pt; font-family: Tahoma;}
.form-control {
    border-radius: 0;
}
.btn {
    border-radius: 0;
}
.radio-group label {
    display: block;
}
.radio-group .radio {
    width:25%;
    float:left;
    margin-top:10px !important;
}
.check-group label {
    display: block;
}
.check-group .checkbox {
    width:50%;
    float:left;
    margin-top:10px !important;
}
.radio-column {
    text-align: center;
    vertical-align: middle !important;
}
/* End of Form Controls */

/* Styling of Questionnaire */
.anket-form {
    margin: 20px 0 50px 0;
    border: 1px solid #ccc;
}
.anket-form .head{
    height: 40px;
    background-color: #eee;
    padding: 10px;
}
.anket-form .foot{
    background-color: #eee;
    padding: 10px;
}
.anket-form .head .progress {
    width: 30%;
    margin-left:70%;
}
.anket-content {
    padding: 20px 10px;
}
/* End of styling of Questionnaire */

/* Header and Footer */
header {
    background: url("images/headImage.png") left center #000000 no-repeat;
    height: 150px;
}
.footer {
    background-color: #d0d0d0;
    border-top: 3px solid #fff;
    text-align: right;
    font-size:10px;
    padding: 10px 15px;
    color:lightgray;
}
/* End of Header and Footer */

/* ----------------- End of changeable Styles --------------- */